@page
@model IndexModel
@{
    ViewData["Title"] = "BakeryWeb";
}

<div class="text-center">
    <h1 class="display-4">BakeryWeb</h1>
    <p>Learn about <a asp-area="" asp-page="/Bread">bread</a> and <a asp-area="" asp-page="/Pastries">pastries</a></p>
</div>
