@page
@model mtg_collection.Pages.Decks.DetailsModel

@{
}

<h1>@Model.Deck.Name</h1>
@* <ul>
  @foreach (var deck in Model.Decks)
  {
    <li><a href="/Decks/Details?id=@deck.Id">@deck.Name</a></li>
  }
</ul> *@