@page "{handler=Get}"
@model BlockchainExplorer.Pages.Wallets.IndexModel
@{
  ViewData["Title"] = "Wallets 💰";
}
<h1>@ViewData["Title"] (@Model.Wallets.Count)</h1>
<ul>
  @foreach(var t in Model.Wallets) {
    <li><a href="/Wallets/Details?wallet=@t">@t</a></li>
  } 
</ul>