@page
@model BlockchainExplorer.Pages.Wallets.IndexModel
@{
  ViewData["Title"] = "Wallets 💰";
}
<h1>@ViewData["Title"] (@Model.Transactions.Count)</h1>
<ul>
  @foreach(var t in Model.Transactions) {
  <li>@t</li>
}
</ul>