@page "{handler=Get}"
@model BlockchainExplorer.Pages.Wallets.IndexModel
@{
  ViewData["Title"] = "Wallets 💰";
}
<h1>@ViewData["Title"] (@Model.Transactions.Count)</h1>
<ul>
  @foreach(var t in Model.Transactions) {
  <li><a href="/Wallets/Details?wallet=@t">@t</a></li>
}
</ul>